<div class="container marketing" id="contact">
  <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Contact us</h2>
          <p class="lead"><span style="font-weight: bolder;">Email: </span> <a style="text-decoration: underline; color: black;" href="mailto:BarberShop@hotmail.com">BarberShop@hotmail.com</a></p>
          <p class="lead"><span style="font-weight: bolder;">Phone: </span> +351 911222333</p>
          <p class="lead"><span style="font-weight: bolder;">Address: </span> 123 Main Street, City, State, Country</p>
          <p class="lead"><span style="font-weight: bolder;">Open Days:</span> Monday to Saturday</p>
          <p class="lead"><span style="font-weight: bolder;">Opening Hours: </span> 9 am to 7 pm</p>
      </div>
      <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image xlink:href="assets/img/location.jpeg" width="100%" height="100%" />
          </svg>
      </div>
  </div>
</div>

<hr class="featurette-divider">
