<hr class="featurette-divider" id="barbers">

<div class="container marketing">
<div class="row">
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
      <image xlink:href="assets/img/barber1.jpg" width="100%" height="100%" />
    </svg>
    <h2 class="fw-normal">John</h2>
    <p>Beard man</p>
  </div>
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
      <image xlink:href="assets/img/barber2.jpg" width="100%" height="100%" />
    </svg>
    <h2 class="fw-normal">Peter</h2>
    <p>Beard man</p>
  </div>
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
      <image xlink:href="assets/img/barber3.jpeg" width="100%" height="100%" />
    </svg>
    <h2 class="fw-normal">Rick</h2>
    <p>Beard man</p>
  </div>
</div>
</div>

<hr class="featurette-divider">
