<div class="container marketing mt-2" id="about">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">About us</h2>
    <p class="lead">
      At our barber shop, we believe in the timeless art of grooming and the power of a great haircut. With a passion for precision and a commitment to customer satisfaction, we strive to provide an exceptional grooming experience for every client who walks through our doors.</p>
  </div>
  <div class="col-md-5">
    <svg  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"   width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
      <image  xlink:href="assets/img/barbershop.jpg" width="100%" height="100%" />
    </svg>
  </div>
</div>
</div>

<hr class="featurette-divider">

